<div id="detailsMainDiv">
    <div class="loading" *ngIf="loading && !error">
        <mat-spinner></mat-spinner>
    </div>
    <div class="error" *ngIf="error">
        <h1>Oops! Something went wrong.</h1>
        <p>Try refreshing the page or check your internet connection.</p>
    </div>
    <div class="success" *ngIf="!loading && !error && success">
        <div class="detailsHeader detailsCard">
            <img [src]="posterUrl" alt="movie poster">
            <div class="movieDetailsHeader">
                <h1>{{imdbData.title}}</h1>
                <p>{{imdbData.release_date}} - {{imdbData.genre}}</p>
                <div class="rating">
                    <p>{{imdbData.imdb_rating}}/10</p>
                </div>
                <div class="extraDetails">
                    <p class="plot">{{imdbData.plot}}</p>
                    <div class="detailsLine">
                        <p>Director:</p>
                        <p>{{imdbData.director}}</p>
                    </div>
                    <div class="detailsLine">
                        <p>Actors:</p>
                        <p>{{imdbData.actors}}</p>
                    </div>
                    <div class="detailsLine">
                        <p>Writer:</p>
                        <p>{{imdbData.writer}}</p>
                    </div>
                    <div class="detailsLine">
                        <p>Language:</p>
                        <p>{{imdbData.language}}</p>
                    </div>
                    <div class="detailsLine">
                        <p>Awards:</p>
                        <p>{{imdbData.awards}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="videoDiv detailsCard">
            <app-video-player [durationData]=duration></app-video-player>
        </div>
        <div class="extraDetails detailsCard footerDetails">
            <p class="plot">{{imdbData.plot}}</p>
            <div class="detailsLine">
                <p>Director:</p>
                <p>{{imdbData.director}}</p>
            </div>
            <div class="detailsLine">
                <p>Actors:</p>
                <p>{{imdbData.actors}}</p>
            </div>
            <div class="detailsLine">
                <p>Writer:</p>
                <p>{{imdbData.writer}}</p>
            </div>
            <div class="detailsLine">
                <p>Language:</p>
                <p>{{imdbData.language}}</p>
            </div>
            <div class="detailsLine">
                <p>Awards:</p>
                <p>{{imdbData.awards}}</p>
            </div>
        </div>
        <div class="comments detailsCard">
        <h3>Comments</h3>
        <div *ngIf="!comments.length">No comments yet</div>
        <ng-container *ngFor="let comment of comments">
            <div class="comment" *ngIf="!comment.parent_id">
                <div class="comment-header">
                    <p class="comment-author">{{ comment.author_username}}</p>
                    <p class="comment-date">{{ comment.createdAt === comment.updatedAt ? (comment.createdAt |
                        date:'short') : (comment.updatedAt | date:'short') }} {{ comment.createdAt ===
                        comment.updatedAt ? '' : '🖋️' }}</p>
                </div>
                <p class="comment-text">{{ comment.text }}</p>
                <button class="comment-reply-button" (click)="replyToComment(comment)">
                    <mat-hint class="hint">Reply</mat-hint>
                </button>
                <button *ngIf="comment.author_id === id" class="comment-reply-button"
                    (click)="editComment(comment)">
                    <mat-hint class="hint">Edit</mat-hint>
                </button>
                <button *ngIf="comment.author_id === id" class="comment-reply-button"
                    (click)="deleteComment(comment)">
                    <mat-hint class="hint">Delete</mat-hint>
                </button>
                <app-nested-comments (replyToNestedCommentEvent)="handleReplyToNestedComment($event)"
                    (editNestedCommentEvent)="handleEditNestedComment($event)"
                    (deleteNestedCommentEvent)="handleDeleteNestedComment($event)" [parentComment]="comment"
                    [allComments]="comments" [replying]="replying"></app-nested-comments>
            </div>
        </ng-container>
        <div class="comment-form">
            <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="comment-input">
                    <input matInput placeholder="Add a comment" formControlName="comment">
                    <mat-error *ngIf="commentForm.controls['comment'].hasError('required')">
                        Comment is required
                    </mat-error>
                </mat-form-field>
                <div class="movie-buttons">
                    <button *ngIf="!replying && !editing" mat-raised-button type="submit" class="movie-button"
                    (click)="onSubmit()">Add
                    comment</button>
                <button *ngIf="replying && !editing" mat-raised-button class="movie-button"
                    (click)="onSubmit()">Reply</button>
                <button *ngIf="editing && !replying" mat-raised-button class="movie-button"
                    (click)="onSubmit()">Edit</button>
                <button *ngIf="replying || editing" mat-raised-button class="movie-button"
                    (click)="cancelReplyOrEdit()">Cancel</button>
                </div>
                
            </form>
        </div>
    </div>
    </div>
    
</div>
