<div class="centerDiv">
    <div class="detailsWait" *ngIf="!loaded">
        <p>
            Loading...
        </p>
        <mat-progress-spinner
            class="detailsWaitSpinner"
            [color]="color"
            [mode]="mode"
            [value]="progressValue">
        </mat-progress-spinner>
        <p>
            {{this.progressValue}}%
        </p>
    </div>
    <div class="detailsMovie" *ngIf="loaded">
        <video controls width="600">
            <source [src]="videoUrl" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>


