$background: #141414;
$primary: hsl(0, 1%, 22%);
$primaryAlt: hsl(0, 1%, 26%);
$surface: #ed0f0f;
$surfaceAlt: #6DB1BF;
$surfaceAltDark: #2e7280;
$onPrimary: #f3f3f3;
$onSurface: rgb(188, 18, 18);
$onPrimaryAlt: #bf806d;
$greyInfos: #9a9fa3;
$greyInfosDark: #333435;
$error: rgb(212, 21, 21);


app-root {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 90vw;
    border-radius: 20px;
    background-color: $primary;
    padding: 20px;
    margin: 20px;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        font-weight: 500;
        color: $onPrimary;
        margin-bottom: 20px;
    }
}

.comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    mat-hint {
        color: $onPrimary;
        margin-bottom: 0.3rem;
    }

    .comment {
        padding: 20px;
        padding-bottom: 0px;
        background-color: $primaryAlt;
        margin-bottom: 10px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-all;

        .comment-header {
            display: flex;
            flex-direction: row;

            .comment-author {
                margin-right: 10px;
            }
        }

        .comment-reply-button {
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            margin-bottom: 10px;
        }

        p {
            display: flex;
            color: $onPrimary;
        }
    }

}