$background: #141414;
$primary: #383737;
$surface: rgb(179, 10, 10);
$surfaceAlt: #6DB1BF;
$surfaceAltDark: #2e7280;
$onPrimary: #cb0d0d;
$onSurface: rgb(188, 18, 18);
$onPrimaryAlt: #bf806d;
$greyInfos: #9a9fa3;
$greyInfosDark: #333435;
$error: red;