.env

frontend/node_modules
frontend/src/environments/environment.template.ts

backend/.env
backend/node_modules
backend/config/config.json
backend/imagesSaved/*.png
!backend/imagesSaved/baseAvatar.png
backend/imagesSaved/*.jpg
backend/imagesSaved/*.jpeg