.env

frontend/node_modules
frontend/src/environments/environment.template.ts

backend/.env
backend/node_modules
backend/config/config.json
backend/imagesSaved/*.png
!backend/imagesSaved/baseAvatar.pngs
backend/imagesSaved/*.jpg
backend/imagesSaved/*.jpeg
!backend/download/.gitkeep
backend/download/*
!backend/subtitles/srt/.gitkeep
backend/subtitles/srt/*
!backendsubtitles/vtt/.gitkeep
backend/subtitles/vtt/*
