<div class="home">
    <app-scroll-to-top></app-scroll-to-top>
    <div *ngIf="!notConnected" class=" filmListFilters">
        <div class="filmListFilter">
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput [(ngModel)]="search" (input)="searchFilms()" placeholder="Search">
            </mat-form-field>
        </div>
        <div class="filmListFilter">
            <mat-form-field>
                <mat-label>Sort by</mat-label>
                <mat-select [(value)]="sortBy" (selectionChange)="sortFilms()">
                    <mat-option>None</mat-option>
                    <mat-option value="title">Title</mat-option>
                    <mat-option value="date_added">Date added</mat-option>
                    <mat-option value="imdb_rating">IMDb Rating</mat-option>
                    <mat-option value="download_count">Download Count</mat-option>
                    <mat-option value="like_count">Like Count</mat-option>
                    <mat-option value="year">Release date</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="filmListFilter">
            <mat-form-field>
                <mat-label>Order</mat-label>
                <mat-select [(value)]="order" (selectionChange)="sortFilms()">
                    <mat-option value="asc">Ascending</mat-option>
                    <mat-option value="desc">Descending</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- <div class="filmListFilter">
            <mat-form-field>
                <mat-label>Quality</mat-label>
                <mat-select [(value)]="quality" (selectionChange)="sortFilms()">
                    <mat-option value="all">All</mat-option>
                    <mat-option value="720p">720p</mat-option>
                    <mat-option value="1080p">1080p</mat-option>
                    <mat-option value="2160p">2160p</mat-option>
                    <mat-option value="3D">3D</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
        <div class="filmListFilter">
            <mat-form-field>
                <mat-label>Imdb Rating</mat-label>
                <mat-select [(value)]="minimum_rating" (selectionChange)="sortFilms()">
                    <mat-option value="1">1+</mat-option>
                    <mat-option value="2">2+</mat-option>
                    <mat-option value="3">3+</mat-option>
                    <mat-option value="4">4+</mat-option>
                    <mat-option value="5">5+</mat-option>
                    <mat-option value="6">6+</mat-option>
                    <mat-option value="7">7+</mat-option>
                    <mat-option value="8">8+</mat-option>
                    <mat-option value="9">9+</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button mat-raised-button class="reset-button" (click)="resetParams()">Reset</button>
    </div>
    <div class="centerDiv" *ngIf="!notConnected && !loading" infinite-scroll [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollUpDistance]="scrollUpDistance" (scrolled)="loadData()">
        <div class="filmList">
            <div class="film" *ngFor="let film of films" (click)="openFilmModal(film)">
                <div class="filmImage" [class.seen]="film.seen">
                    <img [src]="film.poster_path" alt="film image">
                </div>
                <div class="filmTitle">
                    <h2>{{film.title}}</h2>
                    <span>{{film.release_date}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="centerDiv" *ngIf="!notConnected && loading">
        <div class="loadingCard">
            <p>Loading</p>
            <mat-progress-bar mode="query"></mat-progress-bar>
        </div>
    </div>

    <div class="centerDiv" *ngIf="notConnected">
        <div class="notConnectedCard">
            <h1>Welcome to <strong>Hypertube</strong>!</h1>
            <p>Log in to start watching movies!</p>
            <button mat-raised-button routerLink="/auth/login">Log in</button>
        </div>
    </div>
</div>