@import '../app.component.scss';

.home {
    .filmListFilters {
        mat-form-field {
            margin-bottom: 0;
            margin-right: 1rem;
            width: 10vw;
            height: auto;
        }

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        width: 95vw;
    }


    .filmList {
        width: 98vw;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 2vh;
        padding-inline: 2rem;


        .film {
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 500px;

            .filmImage {
                width: 280px;
                height: 400px;
                border: 2px solid $second_background;
                border-radius: 20px;
                box-shadow: 5px 5px 15px rgba(70, 70, 70, 0.12), -1px -1px 50px rgba(70, 70, 70, 0.12);
                margin-bottom: 1rem;
                background-color: $second_background;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                }

                &.seen {
                    border: 3px solid $onPrimary;
                }
            }

            .filmTitle {
                max-width: 95%;
                overflow: hidden;

                h2 {
                    color: $onPrimary;
                    margin: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                span {
                    color: $greyInfos;
                }
            }

            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.02);
            }
        }
    }

    .errorCard {
        width: 300px;
        height: 100px;
        border-radius: 20px;
        padding: 2rem;
        box-shadow: 5px 5px 15px rgba(70, 70, 70, 0.12), -1px -1px 50px rgba(70, 70, 70, 0.12);
        margin-top: 2rem;
        background-color: $second_background;
        display: flex;

        p {
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 100px;
            font-size: 2rem;
            font-weight: 700;
        }
    }

    .loadingCard {
        width: 500px;
        height: 100px;
        border-radius: 20px;
        padding: 2rem;
        box-shadow: 5px 5px 15px rgba(70, 70, 70, 0.12), -1px -1px 50px rgba(70, 70, 70, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $second_surface;
        margin-top: 2rem;

        p {
            width: 100%;
            text-align: center;
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 2rem;
            color: $second_onSurface;
        }
    }

    .notConnectedCard {
        width: 90vw;
        height: 75vh;
        border-radius: 20px;
        padding: 2rem;
        box-shadow: 5px 5px 15px rgba(70, 70, 70, 0.12), -1px -1px 50px rgba(70, 70, 70, 0.12);
        margin-top: 2rem;
        background-color: $second_background;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $onPrimary;


        h1 {
            font-size: 3rem;
        }

        p {
            line-height: 2rem;
            font-size: 2rem;
            padding: 1rem;
        }
    }
}

@media (max-width: 1024px) {
    .home {
        .filmListFilters {
            mat-form-field {
                margin-bottom: 0;
                margin-right: 0.8rem;
                width: 20vw;
                height: auto;
            }

            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            flex-flow: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            width: 98vw;
        }

        .filmList {
            display: flex;
            justify-content: space-between;

            .film {
                width: 200px;
                height: 400px;
                margin-right: 1rem;

                .filmImage {
                    width: 200px;
                    height: 300px;
                }
            }
        }

        .filmList {
            .film {
                width: 200px;
                height: 400px;
                margin-right: 0.5rem;

                .filmImage {
                    width: 200px;
                    height: 300px;
                }
            }
        }
    }
}

@media (max-width: 786px) {
    .home {
        .filmListFilters {
            mat-form-field {
                margin-bottom: 0;
                margin-right: 0.8rem;
                width: 30vw;
                height: auto;
            }

            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            flex-flow: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            width: 98vw;



        }

        .filmList {
            display: flex;
            justify-content: space-between;
            padding-inline: 1rem;

            .film {
                width: 150px;
                height: 300px;
                margin-right: 0.5rem;

                .filmImage {
                    width: 150px;
                    height: 225px;
                }
            }
        }

        .filmList {
            .film {
                width: 150px;
                height: 300px;
                margin-right: 1rem;

                .filmImage {
                    width: 150px;
                    height: 225px;
                }
            }
        }
    }
}

.reset-button {
    margin-bottom: 20px;
}