<div class="centerDiv" id="videoPlayerDiv">
    <div class="detailsWait" *ngIf="!loaded">
        <p>
            Loading...
        </p>
        <mat-progress-spinner
            [color]="color"
            mode="indeterminate">
        </mat-progress-spinner>
        <p *ngIf="progressValue > 0">
            {{this.progressValue}}%
        </p>
    </div>
    <div class="detailsMovie" *ngIf="loaded && !error">
        <div class="video-container">
            <div class="progressVideoLoading" *ngIf="!videoLoaded">
                <mat-progress-spinner
                    [color]="color"
                    mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <video id="videoPlayerOrigin"
            (timeupdate)="onTimeUpdate()"
            (loadedmetadata)="onVideoLoad()"
            preload="auto"
            width="100%"
            disablePictureInPicture>
                <source [src]="videoUrl" [type]="sourceType">
                Your browser does not support the video tag.
            </video>
            <div id="videoControls">
                <div class="topControl">
                    <div id="progressRange" (click)="changeSeekBar($event)" title="Seek">
                        <div id="loadingBar"></div>
                        <div id="progressBar"></div>
                    </div>
                </div>
                <div class="bottomControl">
                    <div class="bottonControlLeft">
                        <mat-icon (click)="togglevideo()" id="videoPlayButton">{{videoPlayButtonIcon}}</mat-icon>
                        <p id="videoTime">{{videoCurrentTime}} / {{videoDuration}}</p>
                    </div>
                    <div class="bottonControlRight">
                        <div class="volume-control">
                            <mat-icon id="volumeButton" (click)="changeVolumeBarDisplaying()">volume_up</mat-icon>
                            <div id="volumeBar" [ngClass]="{'hidden': !showVolume, 'visible': showVolume}">
                                <mat-slider
                                    id="volumeSlider"
                                    [disabled]="disabled"
                                    [max]="max"
                                    [min]="min"
                                    [step]="step"
                                    [discrete]="thumbLabel"
                                    [showTickMarks]="showTicks"
                                    [color]="color"
                                    vertical>
                                <input matSliderThumb [(ngModel)]="value" (input)="onChangeVolume($event)" #slider>
                                </mat-slider>
                            </div>
                        </div>
                        <button id="subtitlesButton" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Subtitles button">
                            <mat-icon>subtitles</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button (click)="changeSubtitles(item)" mat-menu-item *ngFor="let item of subtitlesChoiceToDisplay">
                                <mat-icon *ngIf="currentSubtitles == item.value"
                                [style]="{display: 'flex', 'justify-content': 'center', 'align-items': 'center', 'font-size': '1rem', 'margin-right': '0'}">done</mat-icon>
                                <span>{{ item.viewValue }}</span>
                            </button>
                        </mat-menu>
                        <mat-icon (click)="fullScreen()" id="fullscreenButton">fullscreen</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="subtitlesError" *ngIf="subtitlesError">
            <p>{{subtitlesErrorMessage}}</p>
        </div>
    </div>
    <div class="detailsWait" *ngIf="error">
        <p>
            Error
        </p>
    </div>
</div>

<!-- <button (click)="togglevideo()" id="videoPlayButton">&#9658;</button> -->
                <!-- <button mat-icon-button (click)="togglevideo()" id="videoPlayButton">
                    <mat-icon>{{videoPlayButtonIcon}}</mat-icon>
                </button> -->
                <!-- <input type="range" id="seekBar" value="0"> -->
                <!-- <input type="range" id="seekBar" value="0">
                <button id="volumeBtn">&#128266;</button>
                <input type="range" id="volumeBar" value="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span> -->

<!-- <video width="600" id="videoPlayerOrigin"
            (timeupdate)="onTimeUpdate()"
            (seeking)="onSeekStart()"
            (seeked)="onSeekEnd()"
            (loadedmetadata)="onVideoLoad()">
                <source [src]="videoUrl" type="video/mp4">
                Your browser does not support the video tag.
            </video> -->


