<div class="centerDiv">
    <div class="detailsWait" *ngIf="!loaded">
        <p>
            Loading...
        </p>
        <mat-spinner></mat-spinner>
        <!-- <mat-progress-spinner
            class="detailsWaitSpinner"
            [color]="color"
            [mode]="mode"
            [value]="progressValue">
        </mat-progress-spinner> -->
        <p>
            {{this.progressValue}}%
        </p>
    </div>
    <div class="detailsMovie" *ngIf="loaded">
        <div class="video-container">
            <video width="600" id="videoPlayerOrigin"
            (timeupdate)="onTimeUpdate()"
            (loadedmetadata)="onVideoLoad()">
                <source [src]="videoUrl" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="controls">
                <div class="topControl">
                    <div id="progressRange" (click)="changeSeekBar($event)" title="Seek">
                        <div id="loadingBar"></div>
                        <div id="progressBar"></div>
                    </div>
                </div>
                <div class="bottomControl">
                    <div class="bottonControlLeft">
                        <mat-icon (click)="togglevideo()" id="videoPlayButton">{{videoPlayButtonIcon}}</mat-icon>
                    </div>
                    <div class="bottonControlRight">
                        <div class="volume-control">
                            <mat-icon id="volumeButton" (click)="changeVolumeBarDisplaying()">volume_up</mat-icon>
                            <div id="volumeBar" [ngClass]="{'hidden': !showVolume, 'visible': showVolume}">
                                <mat-slider
                                    id="volumeSlider"
                                    [disabled]="disabled"
                                    [max]="max"
                                    [min]="min"
                                    [step]="step"
                                    [discrete]="thumbLabel"
                                    [showTickMarks]="showTicks"
                                    vertical>
                                <input matSliderThumb [(ngModel)]="value" (input)="onChangeVolume($event)" #slider>
                                </mat-slider>
                            </div>
                        </div>
                        <mat-icon id="fullscreenButton">fullscreen</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <button (click)="togglevideo()" id="videoPlayButton">&#9658;</button> -->
                <!-- <button mat-icon-button (click)="togglevideo()" id="videoPlayButton">
                    <mat-icon>{{videoPlayButtonIcon}}</mat-icon>
                </button> -->
                <!-- <input type="range" id="seekBar" value="0"> -->
                <!-- <input type="range" id="seekBar" value="0">
                <button id="volumeBtn">&#128266;</button>
                <input type="range" id="volumeBar" value="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span> -->

<!-- <video width="600" id="videoPlayerOrigin"
            (timeupdate)="onTimeUpdate()"
            (seeking)="onSeekStart()"
            (seeked)="onSeekEnd()"
            (loadedmetadata)="onVideoLoad()">
                <source [src]="videoUrl" type="video/mp4">
                Your browser does not support the video tag.
            </video> -->


