@import '../../app.component.scss';

.centerDiv {
    width: 100%;
    height: 100%;
}

video {
    border-radius: 20px;
}

.detailsWait {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $test_surface;
    border-radius: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    @media (max-width: 550px) {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    p {
        color: $onPrimary;
        font-size: 2rem;
    }

    mat-progress-spinner {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }

    .mat-warn {
        --mdc-circular-progress-active-indicator-color: rgb(243, 118, 20);
    }

}

.video-container {
    position: relative;

    .progressVideoLoading {
        display: flex;
        justify-content: center;
    }
}

#videoControls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 3rem;
    display: none;
}

.topControl {
    #progressRange {
        width: calc(100% - 30px);
        height: 8px;
        background-color: rgba(202, 202, 202, 0.5);
        margin: auto;
        border-radius: 10px;
        cursor: pointer;
        position: relative;

        #progressBar {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            background-color: $test_surfaceAlt;
            width: 0%;
            height: 100%;
            border-radius: 10px;
            transition: all 0.5s ease;
        }
    
        #loadingBar {
            position: absolute;
            top: 0;
            left: 0;
            background-color: $test_onSurface;
            width: 0%;
            height: 100%;
            border-radius: 10px;
            transition: all 0.5s ease;
        }
    }
}

.bottomControl {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .bottonControlLeft {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;

        #videoPlayButton {
            font-size: 3rem;
            height: fit-content;
            width: fit-content;
            color: white;
        }

        #videoTime {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
            margin-left: 0.5rem;
        }
    }

    .bottonControlRight {
        display: flex;
        align-items: center;
        margin-right: 0.5rem;

        #fullscreenButton {
            font-size: 2rem;
            height: fit-content;
            width: fit-content;
            color: white;
        }
    
        .volume-control {
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow: hidden;

            .hidden {
                width: 0px;
            }
            
            .visible {
                width: 150px;
            }

            #volumeBar {
                transition: width 0.5s ease;

                #volumeSlider {
                    width: 100px;
                }

                .mat-mdc-slider.mat-warn {
                    --mdc-slider-handle-color: rgb(243, 118, 20);
                    --mdc-slider-focus-handle-color: rgb(243, 118, 20);
                    --mdc-slider-active-track-color: rgb(243, 118, 20);
                    --mdc-slider-inactive-track-color: rgb(243, 118, 20);
                }
            }
    
            #volumeButton {
                font-size: 2rem;
                height: fit-content;
                width: fit-content;
                color: white;
                margin-right: 0.5rem;
            }
        }

        #subtitlesButton {
            color: white;
        }

    }
}
