@import '../../app.component.scss';

.or {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.5rem;
    color: $onPrimary;
    padding: 20px;
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .loginInputDiv {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.loginButtonDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    .submit {
        font-size: 1.5rem;
        font-weight: 500;
        color: $onPrimary;
        padding: 20px;
        background-color: $surfaceAlt;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

.apiButtonDiv {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .button42 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: $onPrimary;
        padding: 20px;
        background-color: $surfaceAlt;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        .text42 {
            margin-right: 5px;
            vertical-align: middle;
        }

        .logo42 {
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }
    }
}