<div class="centerDiv">
    <div class="formCard">
        <p class="title">Log in</p>
        <div class="login">
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <div class="loginInputDiv">
                    <mat-form-field class="form-field" hideRequiredMarker>
                        <mat-label>Username</mat-label>
                        <input matInput id="username" formControlName="username">
                    </mat-form-field>
                    <mat-form-field class="form-field withHint" hideRequiredMarker>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" id="password" formControlName="password" minlength="8">
                    </mat-form-field>
                </div>
                <div class="loginButtonDiv">
                    <button class="submit" type="submit" [disabled]="loginForm.invalid" mat-raised-button>Log
                        in</button>
                    <a [routerLink]="['/resetpassword']" class="resetPassword" mat-raised-button>Reset password</a>
                </div>
            </form>
        </div>
        <span class="or">or</span>
        <div class="apiButtonDiv">
            <a mat-raised-button class="button42" (click)="login42()">
                <span class="text42">Sign In using</span>
                <img class="logo42" src="../../../assets/42.svg" alt="42 logo">
            </a>
            <app-google-button></app-google-button>
        </div>

    </div>
</div>