<div class="centerDiv">
	<div class="formCard">
		<div class="settings-container" *ngIf="user">
			<p class="title">Settings</p>
			<form (ngSubmit)="onSubmit()" [formGroup]="updateForm">
				<div class="userInfos">
					<mat-label>Username</mat-label>
					<mat-form-field>
						<input matInput formControlName="username" placeholder="{{user.username}}" maxlength="25">
					</mat-form-field>
					<mat-label>Last name</mat-label>
					<mat-form-field>
						<input matInput formControlName="lastName" placeholder="{{user.lastName}}" maxlength="25">
					</mat-form-field>
					<mat-label>First name</mat-label>
					<mat-form-field>
						<input matInput formControlName="firstName" placeholder="{{user.firstName}}" maxlength="25">
					</mat-form-field>
					<mat-form-field *ngIf="!user.loginApi">
						<input matInput formControlName="email" placeholder="Email" type="email">
					</mat-form-field>
					<mat-form-field *ngIf="!user.loginApi">
						<input matInput formControlName="password" type="password" placeholder="Password">
					</mat-form-field>
					<mat-form-field *ngIf="!user.loginApi">
						<input matInput formControlName="confirm_password" type="password"
							placeholder="Confirm password">
					</mat-form-field>
					<mat-label>Language</mat-label>
					<mat-form-field>
						<mat-select formControlName="language" placeholder="{{selected}}">
							@for(language of languages; track language) {
							<mat-option value="{{language.value}}">{{language.viewValue}}</mat-option>
							}
						</mat-select>
					</mat-form-field>
				</div>

				<div class="profile-pictures">
					<mat-label>Profile Picture</mat-label>
					<div class="pictures-container current-pictures">
						<div class="profile-picture" *ngIf="actualImg">
							<img [src]="actualImg" alt="Profile Picture">
						</div>
					</div>
				</div>
				<div class="inputDivSettings">
					<label for="inputPictures">Upload your new picture !</label>
					<input id="inputPictures" type="file" class="fileInput" multiple
						(change)="onChangeFileInput($event)" accept=".png, .jpeg, .jpg" />
				</div>
				<div class="profile-pictures" *ngIf="file">
					<mat-label>New Profile Picture</mat-label>
					<div class="pictures-container new-pictures">
						<div class="profile-picture" *ngIf="file">
							<img [src]="file" alt="New Profile Picture">
						</div>
					</div>
				</div>
				<button type="submit" [disabled]="updateForm.invalid" mat-raised-button>Update</button>
			</form>
			<div class="delete">
				<mat-label>Delete Account</mat-label>
				<button class="delete-button" mat-raised-button (click)="deleteAccount()">Delete Account</button>
			</div>
		</div>
	</div>
</div>