<div class="movie-modal">
    <div class="movie-modal-content">
        <div class="movie-modal-header">
            <h2 mat-dialog-title>{{ data.title }}</h2>
            <button mat-icon-button mat-dialog-close class="close-button">
                <mat-icon aria-label="Close dialog">close</mat-icon>
            </button>
        </div>
        <div mat-dialog-content>
            <img [src]="data.poster_path" alt="film image" class="modal-image">
            <div class="movie-details">
                <div class="basic-details">
                    <p><strong>Director:</strong> {{ data.director || 'N/A' }}</p>
                    <p><strong>Writer:</strong> {{ data.writer || 'N/A' }}</p>
                    <p><strong>Actors:</strong> {{ data.actors || 'N/A' }}</p>
                    <p><strong>Genre:</strong> {{ data.genre.join(', ') }}</p>
                    <p><strong>Language:</strong> {{ data.language }}</p>
                </div>

                <p><strong>Plot:</strong> {{ data.plot || 'N/A' }}</p>
                <p *ngIf="data.awards"><strong>Awards:</strong> {{ data.awards }}</p>
                <p><strong>Release Date:</strong> {{ data.release_date }}</p>
                <p><strong>IMDb ID:</strong> <a [href]="'https://www.imdb.com/title/' + data.imdb_id" target="_blank">
                        {{ data.imdb_id }}</a></p>
                <p *ngIf="data.imdb_rating"><strong>IMDb Rating:</strong> {{ data.imdb_rating }} / 10</p>
                <button mat-button (click)="close()" [routerLink]="['stream/' + id]">Watch</button>
            </div>
        </div>
        <!-- <div mat-dialog-actions align="end">
            <button mat-raised-button class="movie-modal-button"></button>
        </div> -->

    </div>