<div class="movie-modal">
    <div class="movie-modal-content" *ngIf="!loading && !error">
        <div class="movie-modal-header">
            <div class="movie-modal-header-commentsOpened" *ngIf="showComments">
                <button mat-icon-button (click)="showCommentsToggle()" class="close-button">
                    <mat-icon aria-label="Close dialog">arrow_back</mat-icon>
                </button>
                <h2 mat-dialog-title>{{data.title}}</h2>
            </div>
            <div class="leftPart"></div>
            <button mat-icon-button mat-dialog-close class="close-button">
                <mat-icon aria-label="Close dialog">close</mat-icon>
            </button>
        </div>
        <div *ngIf="!showComments" mat-dialog-content>
            <div class="movieInfosModal">
                <div class="primaryInfosModal">
                    <img [src]="data.poster_path" alt="film image" class="modal-image">
                    <div class="basic-details">
                        <p class="movieTitle">{{data.title}}</p>
                        <p><strong>Director:</strong> {{ data.director || 'N/A' }}</p>
                        <p><strong>Writer:</strong> {{ data.writer || 'N/A' }}</p>
                        <p><strong>Actors:</strong> {{ data.actors || 'N/A' }}</p>
                        <p *ngIf="isStringType(data.genre)"><strong>Genre:</strong> {{ data.genre || 'N/A'}}</p>
                        <p *ngIf="!isStringType(data.genre)"><strong>Genre:</strong> {{ data.genre.join(', ') || 'N/A'}}</p>
                        <p><strong>Language:</strong> {{ data.language }}</p>
                        <p><strong>Release Date:</strong> {{ data.release_date }}</p>
                        <p *ngIf="data.awards"><strong>Awards:</strong> {{ data.awards }}</p>
                        <p><strong>IMDb ID:</strong> <a [href]="'https://www.imdb.com/title/' + data.imdb_id" target="_blank">
                            {{ data.imdb_id }}</a></p>
                        <div class="ratingModal">
                            <p>{{data.imdb_rating}}/10</p>
                        </div>
                    </div>
                </div>
                <div class="movie-details">
                    <p>{{ data.plot || 'N/A' }}</p>
                    <button class="watchMovieButtonModal" mat-button (click)="close()"
                        [routerLink]="['stream/' + ytsId + '/' + data.imdb_id + '/' + data.title + '/' + freeMovieId + '/0']">Watch</button>
                </div>
            </div>
        </div>
        <div *ngIf="showComments" mat-dialog-content>
            <div class="comments">
                <ng-container *ngFor="let comment of comments">
                    <div class="comment" *ngIf="!comment.parent_id">
                        <div class="comment-header">
                            <p class="comment-author">{{ comment.author_username}}</p>
                            <p class="comment-date">{{ comment.createdAt === comment.updatedAt ? (comment.createdAt |
                                date:'short') : (comment.updatedAt | date:'short') }} {{ comment.createdAt ===
                                comment.updatedAt ? '' : '🖋️' }}</p>
                        </div>
                        <p class="comment-text">{{ comment.text }}</p>
                        <button class="comment-reply-button" (click)="replyToComment(comment)">
                            <mat-hint class="hint">Reply</mat-hint>
                        </button>
                        <button *ngIf="comment.author_id === id" class="comment-reply-button"
                            (click)="editComment(comment)">
                            <mat-hint class="hint">Edit</mat-hint>
                        </button>
                        <button *ngIf="comment.author_id === id" class="comment-reply-button"
                            (click)="deleteComment(comment)">
                            <mat-hint class="hint">Delete</mat-hint>
                        </button>
                        <app-nested-comments (replyToNestedCommentEvent)="handleReplyToNestedComment($event)"
                            (editNestedCommentEvent)="handleEditNestedComment($event)"
                            (deleteNestedCommentEvent)="handleDeleteNestedComment($event)" [parentComment]="comment"
                            [allComments]="comments" [replying]="replying"></app-nested-comments>
                    </div>
                </ng-container>

            </div>
        </div>
        <div *ngIf="showComments" mat-dialog-actions align="start">
            <div class="comment-form">
                <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                    <mat-form-field class="comment-input">
                        <input matInput placeholder="Add a comment" formControlName="comment">
                        <mat-error *ngIf="commentForm.controls['comment'].hasError('required')">
                            Comment is required
                        </mat-error>
                    </mat-form-field>
                    <button *ngIf="!replying && !editing" mat-raised-button type="submit" class="movie-modal-button"
                        (click)="onSubmit()">Add
                        comment</button>
                    <button *ngIf="replying && !editing" mat-raised-button class="movie-modal-button"
                        (click)="onSubmit()">Reply</button>
                    <button *ngIf="editing && !replying" mat-raised-button class="movie-modal-button"
                        (click)="onSubmit()">Edit</button>
                    <button *ngIf="replying || editing" mat-raised-button class="movie-modal-button"
                        (click)="cancelReplyOrEdit()">Cancel</button>
                </form>
            </div>
        </div>
        <div *ngIf="!showComments" mat-dialog-actions align="end">
            <button mat-raised-button class="movie-modal-button" (click)="showCommentsToggle()">Show comments</button>
        </div>
    </div>
    <div class="waitModal" *ngIf="loading && !error">
        <mat-spinner class="spinner" diameter="100"></mat-spinner>
    </div>
    <div class="errorModal" *ngIf="error">
        <p>Error</p>
    </div>